<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title> Перевозка грузов </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<blockquote class="blockquote text-center"><h1>Информационная система перевозки грузов</h1></blockquote>
<div class="row">
    <div class="col-md-8 offset-md-4">
        <h4>Поиск груза по любому параметру</h4>
        <form th:action="@{/}">
            <input type="text" name="keyword" id="keyword" size="70" th:value="${keyword}" required/>
            <input type="submit" class="btn btn-success btn-sm" value="Поиск"/>
            <input type="button" class="btn btn-warning btn-sm" value="Очистить" id="btn-Clear"
                   onclick="clearSearch()"/>
        </form>
    </div>
</div>
<table id="1" class="table table-striped table-hover">
    <thead>
    <tr>
        <th scope="col">ID груза</th>
        <th scope="col">Название груза</th>
        <th scope="col">Содержимое груза</th>
        <th scope="col">Город отправки груза</th>
        <th scope="col">Дата отправки груза</th>
        <th scope="col">Город прибытия груза</th>
        <th scope="col">Дата прибытия груза<a th:href="@{'/sort'}">
            <button type="button" class="btn btn-outline-secondary">⇅</button>
        </a></th>
        <th scope="col">Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="goods: ${goodsList}">
        <th scope="row" class="text-black-50" th:text="${goods.ID}">ID груза отсутствует</th>
        <th scope="row" class="text-black-50" th:text="${goods.goodName}">Название груза отсутствует</th>
        <th scope="row" class="text-black-50" th:text="${goods.contents}">Содержимое груза отсутствует</th>
        <th scope="row" class="text-black-50" th:text="${goods.shipmentCity}">Город отправления груза отсутствует</th>
        <th scope="row" class="text-black-50" th:text="${goods.dateOfShipment}">Дата отправления груза отсутствует</th>
        <th scope="row" class="text-black-50" th:text="${goods.arrivalCity}">Город прибытия груза отсутствует</th>
        <th scope="row" class="text-black-50" th:text="${goods.dateOfArrival}">Дата прибытия груза отсутствует</th>
        <td>
            <a th:href="@{'/edit/'+${goods.ID}}">
                <button type="button" class="btn btn-info">Редактировать</button>
            </a>
            <a th:href="@{'/delete/'+${goods.ID}}">
                <button type="button" class="btn btn-danger">Удалить</button>
            </a>
        </td>
    </tr>
    </tbody>
</table>
<p class="text-black-50">
    <script type="text/javascript">
        function getRowsColumn() {
            let table = document.getElementById('1')
            let tBody = table.querySelector('tbody')
            const count = tBody.querySelectorAll('tr').length;
            document.write('Количество грузов в таблице: ' + count)
        }

        getRowsColumn()
    </script>
</p>
<blockquote class="blockquote text-center">
    <a href="/new">
        <button type="button" class="btn btn-primary" data-togge="button" aria-pressed="false"
                th:autocomplete="off">Добавить груз
        </button>
    </a>
</blockquote>
<div id="chart_div" class="d-flex justify-content-center"></div>
<script type="text/javascript">
    function clearSearch() {
        window.location = "[[@{/}]]"
    }
</script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" th:inline="javascript">

    google.charts.load('current', {'packages': ['corechart', 'line']});
    google.charts.setOnLoadCallback(drawChart);


    function drawChart() {

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Дата');
        data.addColumn('number', 'Количество груза');
        data.addRows([
            /*[# th:each="row : ${chartData}"]*/
            [[${row}]],
            /*[/]*/]);

        var options = {
            'title': 'Количество груза по дням',
            'width': 800,
            'height': 600,
            orientation: 'horizontal',
            vAxis: {format: '0'}
        };

        var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    }
</script>
</body>
</html>